/* App.css */
/* css khung todolist */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  padding: 20px;
  width: 600px !important;
  height: 600px;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.2);
}
/* css thẻ input */
.custom-input-group {
  width: 580px !important;
}
.custom-input-group2 {
  width: 400px !important;
  margin-top: 17px;
  margin-left: 50px;
}
/* css list todo */
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 500;
}
.status {
  margin-left: 216px;
}
.actions {
  margin-right: 8px;
}
.emty-todo {
  font-size: 100px;
  display: flex;
  justify-content: space-around;
  color: dimgray;
}

.list-todo {
  width: 100%;
  height: 500px;
}
.list {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.name-todo {
  width: 316px;
  margin-top: 2px;
}
.name-todo_line {
  width: 316px;
  margin-top: 2px;
  text-decoration-line: line-through;
  color: gainsboro;
}
.checkbox {
  width: 20px;
  height: 20px;
  margin-top: 12px;
}
.button {
  font-size: 14px;
  color: white;
  border-radius: 8px;
}
.custom-update-button,
.but-up {
  background-color: rgb(13, 202, 240) !important;
  border: 1px solid rgb(13, 202, 240); /* Màu viền danger */
}
.custom-confirm-button,
.but-de {
  background-color: rgb(220, 53, 69) !important;
  border: 1px solid #dc3545; /* Màu viền danger */
}

.custom-update-button:hover,
.custom-cancel-button:hover,
.custom-confirm-button:hover {
  color: black;
  border: 3px solid #7066e0 !important;
}
